<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Push Pop Box</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Frank Liu">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
<!--    <link href="./css/bootstrap-responsive.css" rel="stylesheet">-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!--    <link rel="shortcut icon" href="../assets/ico/favicon.ico">-->
  </head>

  <body>
    <div class="container" >
      <div class="well">
        <h2>Push Pop Box</h2>
        <p>A simple app to add, edit, and search notes; written in javascript with jQuery, Backbone, and Twitter Bootstrap.</p>
      </div>
      <div id="alert-msg" class="alert">
      </div>
      <div id="search-view" class="top-section form-search">
        <div class="input-append">
          <input type="text" class="search-input search-query"  placeholder="Search...">
          <span title="search" class="search-input-btn add-on"><i class="icon-search"></i></span>
        </div>
        <button id="add-btn" class="btn btn-primary" type="button">
          New
        </button>
      </div>
      <div id="edit-view">

        <div class="tags">
        </div>

        <div class="edit-item">
          <div>
            <textarea class="edit-item-content autocomplete='off' ">
            </textarea>
          </div>
          <div class="edit-item-actions form-inline">
            <button class="edit-action-save btn btn-small btn-primary" type="button">Save</button>
            <button class="edit-action-cancel btn btn-small " type="button">Cancel</button>
            <button class="edit-action-delete btn btn-small btn-danger" type="button">Delete</button>
          </div>
        </div>
      </div>

      <div id="items-view">
      </div>

    </div> <!-- /container -->

<!--    <script src="/js/bootstrap.js"></script>-->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        PushPopBox.init();
      });
    </script>

  </body>
</html>
