.container {
  width: 450px;
  padding: 15px;
  background-color: #DCEAF4;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.alert-msg {
  display: none;
}

#search-clear {
  margin-left: -20px;
  position: relative;
  cursor: pointer;
}

#add {
  margin-left: 30px;
}

.edit-section {
  margin: 5px 0;
}

.edit-item {
  margin-bottom: 10px;
  display: none;
}

.edit-item-content {
  resize: none;
  width: 440px;
  height: 100px
}

.edit-item-actions {
  width: 440px;
  text-align: center;
}


.tags {
  padding: 5px;
  margin-bottom: 5px;
  display: none;
}

.tag {
  cursor: pointer;
  margin: 0 2px;
}

.item {
  border: 1px solid #CCC;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #FFFFF0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.item-action {
  float: right;
  margin-top: -5px;
  margin-right: -10px;
  cursor: pointer;
}




.item-content-read {
  cursor: pointer;
}

.item-content-read-actions, .item-content-edit-actions {
  padding-right: 5px;
  padding-top: 5px;
  text-align: right;
  clear: both;
}

.item-content-read-highlight .item-content-read-body {
  background: #EEE;
}

.item-content-edit-body {
  border: none;
  resize: none;
  max-height: 960px;
}

.item-content-read-body, .item-content-edit-body {
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  overflow: hidden;
}

.item-content-action {
  border: 1px solid silver;
  color: silver;
  cursor: pointer;
  line-height: 1;
  padding: 3px 16px;
  font-size: 0.9em; 
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px #FFFFFF;
}

.item-content-action-highlight {
  border: 1px solid gray;
  color: gray;
}


#elastic_dummy {
  position: absolute;
  display: none;
  word-wrap: break-word;
}
